@tailwind base;
@tailwind components;
@tailwind utilities;


.font-urbanist {
  font-family: "Urbanist";
}

.bg-img-for-header {
  background-image: url(/public/assets/homepage/abstract-design.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(26, 26, 26, 1);
}






.bg-linear-gradient {
  background: linear-gradient(95.93deg, #262626 -14.82%, rgba(38, 38, 38, 0) 40.46%);
}


.postion-members {
  position: absolute;
  bottom: -20px;
}